<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<connectionStrings>
		<add name="MarketDbConnection" connectionString="Data Source=SERVIDOR\SQLEXPRESS;Initial Catalog=ExpectativasDeMercado;Integrated Security=True;" providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>

